@model MedicationReference

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicationReference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromNACCDefaultReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromNACCDefaultReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOverTheCounter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOverTheCounter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
