@model GeriatricDepressionScale

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GeriatricDepressionScale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoGDS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoGDS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Satisfaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Satisfaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityInterests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityInterests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bored)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bored)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spirits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spirits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afraid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afraid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Happy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Happy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Helpless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Helpless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StayHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StayHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemProb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemProb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wonderful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wonderful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worthless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worthless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hopeless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hopeless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Better)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Better)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GDS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GDS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExaminerInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExaminerInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
