@model NeuropsychologicalBatteryScores

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NeuropsychologicalBatteryScores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAPartAdministered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAPartAdministered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAPartAdministeredCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAPartAdministeredCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAAdministered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAAdministered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCALanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCALanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCALanguageOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCALanguageOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAVisualImpairment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAVisualImpairment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAHearingImpairment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAHearingImpairment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRawScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRawScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCATrials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCATrials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCACube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCACube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAClockContour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAClockContour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAClockNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAClockNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAHands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAHands)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCANaming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCANaming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCARegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCARegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCADigits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCADigits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCALetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCALetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCASerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCASerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCARepetition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCARepetition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAFluency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAFluency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAAbstraction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAAbstraction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCANoCue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCANoCue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCACategoryCue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCACategoryCue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCARecognition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCARecognition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCADate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCADate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCADay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCADay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCAPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCAPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCACity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCACity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCATestsAdministered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCATestsAdministered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCATestLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCATestLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoCATestLanguageOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoCATestLanguageOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraftStoryVerbatim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraftStoryVerbatim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraftStoryParaphrase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraftStoryParaphrase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BensonFigureScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BensonFigureScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSpanTestForwardCorrectTrials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSpanTestForwardCorrectTrials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSpanTestForwardLongestSpanForward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSpanTestForwardLongestSpanForward)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSpanTestBackwardCorrectTrials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSpanTestBackwardCorrectTrials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSpanTestBackwardLongestSpanBackward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSpanTestBackwardLongestSpanBackward)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryFluencyAnimals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryFluencyAnimals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryFluencyVegetables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryFluencyVegetables)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailMakingTestASecondsToComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailMakingTestASecondsToComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailMakingTestANumberOfErrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailMakingTestANumberOfErrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailMakingTestANumberOfCorrect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailMakingTestANumberOfCorrect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailMakingTestBSecondsToComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailMakingTestBSecondsToComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailMakingTestBNumberOfErrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailMakingTestBNumberOfErrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailMakingTestBNumberOfCorrect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailMakingTestBNumberOfCorrect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraftStoryRecallUnitsRecallVerbatim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraftStoryRecallUnitsRecallVerbatim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraftStoryRecallUnitsRecallParaphrase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraftStoryRecallUnitsRecallParaphrase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraftStoryRecallUnitsRecallDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraftStoryRecallUnitsRecallDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraftStoryRecallCueNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraftStoryRecallCueNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BensonComplexFigureRecallTotalDrawingScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BensonComplexFigureRecallTotalDrawingScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BensonComplexFigureRecallRecognizedOriginalStiumulus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BensonComplexFigureRecallRecognizedOriginalStiumulus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MINTTotalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MINTTotalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MINTTotalCorrectWithoutSemanticCue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MINTTotalCorrectWithoutSemanticCue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MINTSemanticCuesNumberGiven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MINTSemanticCuesNumberGiven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MINTSemanticCuesNumberCorrectWithoutCue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MINTSemanticCuesNumberCorrectWithoutCue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MINTPhonemicCuesNumberGiven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MINTPhonemicCuesNumberGiven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MINTPhonemicCuesNumberCorrectWithCue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MINTPhonemicCuesNumberCorrectWithCue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestGeneratedFWords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestGeneratedFWords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestRepeatedFWords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestRepeatedFWords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestFWordErrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestFWordErrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestGeneratedLWords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestGeneratedLWords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestRepeatedLWords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestRepeatedLWords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestLWordErrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestLWordErrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestTotalCorrectFAndLWords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestTotalCorrectFAndLWords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestTotalFAndLRepetitionErrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestTotalFAndLRepetitionErrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerbalFluencyPhonemicTestTotalFAndLViolationErrors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerbalFluencyPhonemicTestTotalFAndLViolationErrors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallAppraisal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallAppraisal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExaminerInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExaminerInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
