@model IEnumerable<Hachinski>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AbruptOnset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepwiseDeterioration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SomaticComplaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmotionalIncontinence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hypertension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stroke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HachinskiTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExaminerInitials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AbruptOnset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepwiseDeterioration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SomaticComplaints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmotionalIncontinence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hypertension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stroke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HachinskiTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExaminerInitials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
