@model CoParticipantDemographics

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>A2</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HispanicLatinoEthnicity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HispanicLatinoEthnicity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EthnicOrigins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EthnicOrigins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EthnicOriginsOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EthnicOriginsOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryRace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryRace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryRaceOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryRaceOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalRace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalRace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalRaceOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalRaceOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsOfEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsOfEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsKnown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsKnown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivesWith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivesWith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequencyOfVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequencyOfVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequencyOfTele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequencyOfTele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reliability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reliability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExaminerInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExaminerInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
